.vscode
__pycache__
.idea
csit5520-data-venv

resources/jsons/*.json
resources/.env
resources/question/.last_*
resources/question/*.jsonl

# Question Generation
resources/question/.last_viewed

# Question Asking
resources/question/.last_asked

